<launch>

    <!-- 将 xacro 文件的内容加载到参数服务器 -->
    <param name="robot_description" command="$(find xacro)/xacro $(find aote_urdf_gazebo)/xacro/car_include.xacro" />

    <!-- 启动 gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
       <arg name = "world_name"  value = "$(find aote_urdf_gazebo)/world/box_house.world"/>
    </include>
<!--   <arg name = "world_name"  value = "$(find aote_urdf_gazebo)/world/turtlebot3_aruco_house.world"/>  -->
    <!-- 在 gazebo 中显示机器人模型                                               模型名字jiabinmycar-->
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model jiabinmycar -param robot_description"  />
</launch>
