<launch>

    <!-- 启动 rviz -->
    <node pkg="rviz" type="rviz" name="rviz"  args ="-d $(find aote_urdf_gazebo)/config/show_mycar.rviz" />

    <!-- 关节以及机器人状态发布节点 -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <!--坐标系变换，比如雷达坐标系到基坐标系-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
