<!--集成导航相关的launch文件-->
<!--
    1.地图服务
    2.amcl
    3.move_base
    4.rviz

-->
<launch>
   <!--1.地图服务-->
   <include file = "$(find nav_demo)/launch/nav03_map_server.launch" />
   <!--2..amcl-->
   <include file = "$(find nav_demo)/launch/nav04_amcl.launch" /> 
   <!--move_base-->
   <include file = "$(find nav_demo)/launch/nav05_path.launch" />
   <!--4.rviz-->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <!--添加机器人状态发布-->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
    <node pkg="rviz" type="rviz" name="rviz" />
</launch>